<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9a492800-3021-4e9f-9228-c3ef2aed27d3/resourcegroups/DefaultResourceGroup-NEU/providers/Microsoft.Web/sites/OdontoKlinika20260403100759</ResourceId>
    <ResourceGroup>DefaultResourceGroup-NEU</ResourceGroup>
    <ApiResourceId>/subscriptions/9a492800-3021-4e9f-9228-c3ef2aed27d3/resourceGroups/DefaultResourceGroup-NEU/providers/Microsoft.ApiManagement/service/OdontoKlinikaapi/apis/OdontoKlinika</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://odontoklinika20260403100759-hebkaxasbqg4e8bw.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8519db70-55b3-4983-9170-3640dd5f0a89</ProjectGuid>
    <MSDeployServiceURL>odontoklinika20260403100759-hebkaxasbqg4e8bw.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OdontoKlinika20260403100759</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>